name: .NET Release NuGet Package

on: 
    release:
        types:
            - published

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Restore packages
      run: dotnet restore src\UPS.sln
    - name: .NET Build
      run: dotnet build src\UPS.sln --configuration Release
    - name: Create the package
      run: dotnet publish --configuration Release src\UPS\UPS.csproj
    - name: Publish to NuGet
      uses: brandedoutcast/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: src\UPS\UPS.csproj
        VERSION_REGEX: '^\s*<Version>(.*)<\/Version>\s*$'
        TAG_FORMAT: '*'
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
